@page "/servers"
@inject NavigationManager nm
@rendermode InteractiveServer

<h3>Servers</h3>

<a class="rounded btn btn-primary" href="/servers/add">Add Server</a>

<CityListComponent
    @ref="cityListComponent"
    @rendermode="InteractiveServer"
    SelectCityCallback="@HandleSelectCity"
>

</CityListComponent>

<br />

<SearchBarComponent @ref="searchBarComponent" SearchCallback="HandleSearch" />

<br />

<CascadingValue Name="SelectedCity" Value="@selectedCity">
    <ServerListComponent @rendermode="InteractiveServer"
                         CityName="@selectedCity"
                         ServerFilter="@serverFilter" />
</CascadingValue>




@code {
    private string serverFilter = "";
    private string selectedCity = "Toronto";

    private CityListComponent? cityListComponent;
    private SearchBarComponent? searchBarComponent;


    private void HandleSearch(string sf)
    {
        serverFilter = sf;
        selectedCity = string.Empty;
        cityListComponent?.ClearSelection();
    }

    private void HandleSelectCity(string cityName)
    {
        // servers = ServersRepository.SearchServers(serverFilter);
        selectedCity = cityName;
        serverFilter = string.Empty;
        searchBarComponent?.ClearSelection();
    }
}
