@page "/todo"
@rendermode InteractiveServer

<h3>TodoList</h3>
<br />

<button class="btn btn-primary" @onclick="AddToDoItem">Add Task</button>
<ToDoItemsListComponent ToDoItems="ToDoItems"></ToDoItemsListComponent>

@code {
    private List<ToDoItem> ToDoItems { get; set; } = ToDoItemsRepository.GetToDoItems();

    private void AddToDoItem()
    {
        ToDoItemsRepository.AddToDoItem(new ToDoItem{ Name = "New Task"});
        ToDoItems = ToDoItemsRepository.GetToDoItems();
    }
}
