@inject NavigationManager nm

<div class="container-fluid text-center">
    <div class="row w-50">
        @foreach (var city in Cities)
        {
            <CityComponent City="@city" IsSelected="@(SelectedCity == city)"
                           SelectCityCallback="@HandleCitySelection" />
        }
    </div>
</div>

@code {
    [Parameter]
    public EventCallback<string> SelectCityCallback { get; set; }

    public void ClearSelection()
    {
        SelectedCity = string.Empty;
        StateHasChanged();
    }

    [Parameter]
    public string SelectedCity { get; set; } = "Toronto";

    public IEnumerable<string> Cities { get; set; }
            = ServersRepository.GetServres().GroupBy(s => s.City).Select(gr => gr.Key);

    private void HandleCitySelection(string cityName)
    {
        SelectedCity = cityName;
        SelectCityCallback.InvokeAsync(cityName);
    }
}
