<div class="input-group mb-3" @attributes=OtherAttributes>
    <input type="text" class="form-control input-width mb-2" placeholder="Search Servers" @bind-value="serverFilter" />
    <button class="btn btn-outline-secondary" type="button" id="button-search" @onclick="HandleSearch">
        Search
    </button>
</div>

@code {
    [Parameter]
    public EventCallback<string> SearchCallback { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? OtherAttributes { get; set; }

    private string serverFilter = string.Empty;

    private void HandleSearch()
    {
        SearchCallback.InvokeAsync(serverFilter);
    }

    public void ClearSelection()
    {
        serverFilter = string.Empty;
        StateHasChanged();
    }
}
